body{
  background-image: url(../assets/bg.png);
}

  .header{
    margin-top: 10%;
    color: black;
    font-weight: 800;
    text-align: center;
  }
  .headerR{
    margin-top: 1%;
    color: black;
    font-weight: 800;
    text-align: center;
  }
  .main{
display: flex;
  }
.img{
  object-position: left;
  object-fit: cover;
  max-width: 100%;
}
  .half{
  
    
    max-width: 28rem;
    height: initial;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 3rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: black;
  }


.container {
	
  max-width: 28rem;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: black;
  margin-top: 0%;
  background: #ffffff;
  box-shadow: inset 0 0 3px 1px whitesmoke;
  height: 86%;
  margin-top: 5%;
    


}
.inputtext{
font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  border: none ;
  min-width: 120%;
  padding: 12px;
  margin-left: -26px;
box-shadow: inset 0 0 3px 1px whitesmoke;
  background: whitesmoke;
}
.label{
font-weight: 700;
  width: 1;
  font-size: 18px;
  width: 100%;
  justify-content: left;
  display: flex;
  margin-left: -7%;
  color: black;
  margin-bottom: 6%;
}
.link{
color: #1a73e8;
margin-left: 2%;
}
.already{
font-weight: 500;
  margin-left: -55%;
  margin-top: 7%;
font-weight: 700;
}
.inputsubmit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;
  line-height: inherit;
  cursor: pointer;
  min-width: 105%;
  padding: 0.65rem 1.25rem;
  border: none;
  color: white;
  background: #00a896;
  margin-top: 18px;
  margin-inline: -3%;
  font-size: 20px;

}
.inputcontainer{
font-family: inherit;
font-size: 1rem;
font-weight: 400;
line-height: inherit;
width: 100%;
height: auto;
border: black;
outline: none;
border-radius: 2rem;
color: black;
padding-left: 4%;
padding-right: 8%;
}
.already{
  font-size: 15px;
    margin-top: 8%;
    margin-inline: -2%;
}
.link{
  margin-inline: 2%;
    color:#1a73e8;
    font-weight: 400;
}
.error{
  color: red;
}